@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div class="verx"> Калькулятор симплекс-метода</div>
</header>
<div class="platno">
    <img src="img/image_1.png" alt="Background image 1" "width="380" height="955">
    <div class="center">
        <div class="button">
            <form method="post">
                <input name="data[4][1]" />
                <input name="data[4][2]" />
                <input name="data[4][0]" />
                <br><br>
                <input name="data[3][1]" />
                <input name="data[3][2]" />
                <input name="data[3][0]" />
                <br><br>
                <input name="data[2][1]" />
                <input name="data[2][2]" />
                <input name="data[2][0]" />
                <br><br>
                <input name="data[1][1]" />
                <input name="data[1][2]" />
                <input name="data[1][0]" />
                <br><br>
                <input name="data[0][1]" />
                <input name="data[0][2]" />
                <input name="data[0][0]" />
                <br><br>
                <input type="submit" value="Send" />
            </form>

            <h2>@Model.Message</h2>
        </div>
    </div>
    <div>
        <img src="img/image_2.png" alt="Background image 2" width="380" height="955">
    </div>
</div>
