@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int count_equation = 3;
    int count = 4;
}

<header>
    <div class="verx"> Калькулятор симплекс-метода</div>
</header>
<div class="platno">
    <img src="img/image 1.png" width="380" height="955">
    <div class="center">
        <div class="button">
            @for (int i = 0; i < count_equation; i++)
            {
                <input type="number">
            }
            <br><br>
            @for (int i = 0; i < count; i++)
            {
                <input type="number">
            }
            <br><br>
            @for (int i = 0; i < count; i++)
            {
                <input type="number">
            }
            <br><br>
            @for (int i = 0; i < count; i++)
            {
                <input type="number">
            }
            <br><br>
            @for (int i = 0; i < count; i++)
            {
                <input type="number">
            }
        </div>
    </div>
    <div>
        <img src="img/image 2.png" width="380" height="955">
    </div>
</div>
